*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
  }
  h1{
    font-size: 30px;
    margin-top: -26%;
    margin-right: -15%;
  }
  p{
    color: white;
    
  }
  body{
    font-family: montserrat;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background: linear-gradient(#cbf4d5,#cbf4d5);
  }
  .center{
    width: 350px;
    background: #231956;
    border-radius: 20px;
  }
  input[type="text"]{
    height: 100px;
    width: 300px;
    margin-top: 25px;
    border-radius: 0px;
    border: 1px solid #e1e7ea;
    color:black;
    font-size: 60px;
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
    background: linear-gradient(#9a9aa5,#e3e4ec);
  }
  form .buttons{
    width: 300px;
    margin: 10px 25px 0 25px;
    padding: 22px 0;
  }
  input[type="button"]{
    width: 60px;
    height: 57px;
    margin: 5px;
    font-size: 30px;
    line-height: 55px;
    border-radius: 5px;
    border: 5px solid #d9d9d9;
    background: linear-gradient(#d9d9d9, #bfbfbf);
  }
  input[type="button"]:hover{
    transition: .5s;
    background: linear-gradient(#bfbfbf, #d9d9d9);
  }
 
  input#erase{
    width: 135px;
    margin: 10px 0 10px 0;
    font-size: 30px;
    color: white;
    background: #ef0505;
    border: 5px solid #b32a00;
  }
  input#back{
    width: 135px;
    margin: 10px 0 10px 0;
    font-size: 30px;
    color: white;
    background: #ef0505;
    border: 5px solid #b32a00;
  }